.number-left {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    font-family: 'Overpass' !important;
    font-style: normal;
    font-weight: 700;
    font-size: 48px !important;
}


.sub-header {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    width: 526px;
}


.img-box-right {
    position: relative;
    width: 50% !important;
    display: flex;
    align-items: center;

    div {
        background-color: rgba(0, 0, 0, 0.2);
        position: absolute;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        cursor: pointer;
    }

    img {
        width: 100%;
        object-fit: contain;
    }
}


.img-box-left {
    position: relative;
    width: 50% !important;
    display: flex;
    align-items: center;

    div {
        background-color: rgba(0, 0, 0, 0.2);
        position: absolute;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;
    }

    img {
        width: 100%;
        object-fit: contain;
    }
}


@keyframes turn-arrow {
    0% {
        scale: 0
    }

    100% {
        transform: rotate(0deg);
        scale: 1.3;
    }
}


.arrow-project-left {
    scale: 0;
    width: 40px !important;
    height: 40px;
    display: flex;
    position: relative;
    right: 22px;
    transform: rotate(135deg)
}


.border-left {
    box-sizing: border-box;
    position: relative;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 100;
}


.button-box {
    display: flex;
    justify-content: space-between;

    div {
        &:hover {
            button {
                font-weight: bold;
                border: 4px solid #000000;
                filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.15));
            }
        }
    }
}

.text-left-Slide {
    #text {
        visibility: visible !important;
        animation-name: slideLeft;
        padding-right: 140px;
        animation-duration: 1.2s;
        animation-timing-function: ease-in-out;
    }


    .img-box-left {
        div {
            background-color: unset;
        }
    }

    .border-left {
        left: -20px;
        right: 20px;
        top: 20px;
        bottom: -20px;
        border: 4px solid #000000;
        transition: 0.2s;
    }

    .arrow-project-left {
        animation-name: turn-arrow;
        animation-duration: 0.5s;
        animation-delay: 0s;
        animation-fill-mode: both;
    }
}




.content-left {
    width: 50%;
}

@keyframes slideLeft {
    0% {
        scale: (0.4);
        position: relative;
        right: 600px;
    }

    100% {
        position: relative;

        right: 0;
        scale: (1) !important;
    }
}


.text-left {
    padding-right: 140px;
    transform: scale(0);

}

/*.text-left-SlideOut {
    animation-name: slideOutLeft;
    padding-left: 140px;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
}


@keyframes slideOutLeft {
    0% {
        scale: (1) ;
    }
    100% {
        scale: (0) !important;
        
    }
}*/


.project-left {
    width: 70%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;

    h3 {
        font-family: 'Syne';
        font-style: normal;
        font-weight: 800;
        font-size: clamp(26px, 3vw, 55px);
        margin-bottom: 15px;
        margin-top: 15px;
    }

    span {
        font-family: 'Overpass';
        font-style: normal;
        font-weight: 400;
        font-size: clamp(18px, 3.5vw, 23px);
        color: #5988FF;
    }

    p {
        font-family: 'Overpass';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
    }

    a {
        text-decoration: none;
    }

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 7px 37px;
        gap: 10px;
        border: 4px solid #000000;
        box-sizing: border-box;
        background-color: #FFFCF3;
        margin-top: 30px;
        font-family: 'Overpass';
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
    }


}


.arrow-left {
    position: relative !important;
    left: 300px !important;
    margin: 0;
    margin-bottom: -219px;
    z-index: 50;
}


.black-slide {
    background-color: #FFFCF3;
    position: relative;
    top: 255px;
    left: -15px;
    transform: rotate(5deg) translateY(-194px);
    height: 170px;
    width: calc(100% + 20px);
}


.project {
    display: flex;
    width: 100%;
    justify-content: center;
}


@media only screen and (max-width: 500px) {
    .border-left {
        img {
            width: 30px;
            height: 30px;
        }
    }

    .project-left {
        margin-top: 110px !important;
        height: 400px !important;
    }

    .project-right button {
        margin-right: 20px;
    }

    .button-box {
        justify-content: unset;

        button {
            padding: 5px 13px;
            margin-top: 5px;
            font-size: 17px;
        }
    }
}




@media only screen and (max-width: 1050px) {
    .project-left button {
        margin-right: 20px;
    }

    .button-box {

        justify-content: unset;

        button {
            padding: 7px 23px;
        }
    }

    .project-left {
        justify-content: space-between;
        align-items: center;
        margin-top: 190px;
        margin-bottom: 30px;
        flex-direction: column-reverse;
        height: 465px;
    }


    .text-left {
        padding-right: unset;
        margin-top: 60px;
    }


    .number-left {
        display: none;
        bottom: 180px;
        padding-right: 140px;
        position: relative;
    }


    .content-left {
        width: 100%;
    }


    .img-box-left {
        width: 100% !important;
    }
}