.about-me {
    width: 100vw;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        width: 70%;
        font-family: 'Syne';
        font-style: normal;
        font-weight: 800;
        font-size: clamp(32px, 7vw, 70px);
        margin-bottom: 30px;
    }
}

.arrow-section {
    width: 70%;
    display: flex;
    justify-content: flex-end;
}



.content {
    display: flex;
    justify-content: space-between;
    width: 70%;

    p {
        font-family: 'Overpass';
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        margin: 0;
        margin-right: 50px;
    }
}

.img {
    display: flex;

    &:hover {
        div {
            width: 400px;
            height: 400px;
            box-sizing: border-box;
            position: relative;
            left: 3.62%;
            right: 0%;
            top: 3.62%;
            bottom: 0%;
            border: 4px solid #000000;
            transition: 0.2s;
        }

        img {
            position: absolute;
        }
    }

    img {

        width: 400px;
        height: 400px;
        object-fit: cover;
        object-position: top;
    }
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;


    div {
        &:hover {
            button {
                animation: flipInY 1500ms;
                font-weight: bold;
                border: 4px solid #000000;
                filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.15));
            }
        }
    }

    a {
        text-decoration: none;
    }


    button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 60px;
        gap: 10px;
        border: 4px solid #000000;
        box-sizing: border-box;
        background-color: #FFFCF3;
        margin-top: 50px;
        font-family: 'Overpass';
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
    }

    p {
        text-align: justify;
    }
}


.arrow-left {
    position: relative;

}

@media only screen and (max-width: 460px) {




}


@media only screen and (max-width: 560px) {


    .img {
        img {
            position: absolute;
            width: 300px ;
            height: 300px ;
        }

        div {
            width: 300px ;
            height: 300px ;
        }


        &:hover {
            div {

                max-width: 550px;
                left: 12px;
                top: 12px;
            }
        }

    }


}


@media only screen and (max-width: 900px) {
    .content {
        max-width: 550px;
        flex-direction: column-reverse;
        align-items: center;

        p {
            margin-right: 0;
            margin-top: 30px;
        }
    }

    .arrow-left {
        width: 170px;
        height: 170px;
    
    }

    .about-me h2 {
        text-align: center;
    }

    .img {
        max-width: 550px;


        img {
            position: absolute !important;
            width: 400px;
            height: 400px;
        }

        div {
            width: 300px;
            height: 300px;
        }


        &:hover {
            div {
                max-width: 550px;
                left: 12px;
                top: 12px;
            }
        }

    }

}

@media only screen and (max-width: 950px) {

    .about-me h2 {
        width: 80%;
    }

    .content {
        width: 80%;
    }

    .arrow-section {
        width: 80%;
    }
}




@media only screen and (max-width: 1150px) {

    .img {

        &:hover {
            div {
                width: 300px;
                height: 300px;
            }
        }

        img {

            width: 300px;
            height: 300px;
        }
    }

    .about-me {
        h2 {
            margin-bottom: 20px;
        }
    }

    .content {
        p {
            font-size: 19px;
        }
    }

    .description {
        div {
            transform: scale(0.8);
        }
    }
}