<div  class="about-me">
    <h2>About me</h2>
    <div class="content">
        <div class="description">
            <p>Hey, I'm a frontend developer based in Vlotho, Germany. I am an enthusiastic programmer with an
                eye for good design. With my experience as a former CNC Programmer, I have analytical thinking 
                and problem solving skills that I would love to demonstrate in your company!
                <br>
                <br>
                If you think it could fit, feel free to contact me.
            </p>
            <div>
                <a href="#contact">
                    <button>Lets's talk</button>
                </a>
            </div>
        </div>
        <div class="img">
            <img src="assets/img/Bewerbungsfoto.jpg" alt="">
            <div></div>
        </div>
    </div>
    <div id="my-skills" class="arrow-section">
        <img class="arrow-left" src="assets/img/arrow-left.png"
            alt="">
    </div>
</div>