<div class="about-me">
    <h2>About me</h2>
    <div class="content">
        <div class="description">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod dolore exercitationem
                fugit
                iste placeat! Vel dicta tenetur, eos ipsam error ab tempore, adipisci dolores animi <br> <br> doloremque
                hic culpa
                magni aut! Lorem, ipsum it amet consectetur adipisicing elit.
            </p>

            <div>
                <a href="#contact">
                    <button>Lets's talk</button>
                </a>
            </div>
        </div>

        <div class="img">
            <img src="assets/img/Bewerbungsfoto.jpg" alt="">
            <div></div>
        </div>
    </div>

    <img class="arrow-left animate__animated animate__pulse animate__infinite" src="assets/img/arrow-left.png" alt="">

</div>