<div  class="project-right">
    <div class="img-box-right">
        <div>
            <div class="border-right">
                <img class="arrow-project-right" src="assets/img/arrow-animation/arrow-down1.png" alt="">
            </div>
            <img src="assets/img/projects-dummy/{{ img }}" alt="">
        </div>
    </div>
    <div class="content-right">
        <p class="number-right">{{ number }}</p>
        <div flyInRight class="text-right">
            <h3>{{ header }}</h3>
            <span>{{ subheader }}</span>
            <p> {{ description }} </p>
            <div class="button-box">
                <div>
                    <a href="{{ linkWeb }}" target="_blank">
                        <button>Test</button>
                    </a>
                </div>
                <div>
                    <a href="{{ linkGithub }}" target="_blank">
                        <button>Github</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>