.number-right {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    font-family: 'Overpass' !important;
    font-style: normal;
    font-weight: 700;
    font-size: 48px !important;
    padding-left: 140px;
}


.sub-header {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    width: 526px;
}


.img-box-right {
    position: relative;
    width: 50% !important;
    display: flex;
    align-items: center;

    div {
        background-color: rgba(0, 0, 0, 0.2);
        position: absolute;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        cursor: pointer;
    }

    img {
        width: 100%;
        object-fit: contain;
    }
}


@keyframes turn-arrow {
    0% {
        scale: 0
    }

    100% {
        transform: rotate(0deg);
        scale: 1.3;
    }
}


.arrow-project-right {
    scale: 0;
    width: 40px !important;
    height: 40px;
    display: flex;
    position: relative;
    left: 22px;
    transform: rotate(135deg)
}


.border-right {
    box-sizing: border-box;
    position: relative;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 100;
}


.project-right {
    width: 70%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;

    h3 {
        font-family: 'Syne';
        font-style: normal;
        font-weight: 800;
        font-size: clamp(26px, 3vw, 55px);
        margin-bottom: 15px;
        margin-top: 15px;
    }

    span {
        font-family: 'Overpass';
        font-style: normal;
        font-weight: 400;
        font-size: clamp(18px, 3.5vw, 23px);
        color: #5988FF;
    }

    p {
        font-family: 'Overpass';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
    }

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 7px 37px;
        gap: 10px;
        border: 4px solid #000000;
        box-sizing: border-box;
        background-color: #FFFCF3;
        margin-top: 30px;
        font-family: 'Overpass';
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
    }

    a {
        text-decoration: none;
    }

    &:hover {

        .img-box-right {
            div {
                background-color: unset;
            }
        }

        .border-right {
            left: 20px;
            right: -20px;
            top: 20px;
            bottom: -20px;
            border: 4px solid #000000;
            transition: 0.2s;
        }

        .arrow-project-right {
            animation-name: turn-arrow;
            animation-duration: 0.5s;
            animation-delay: 0s;
            animation-fill-mode: both;
        }
    }
}


.text-right-Slide {
    animation-name: slideRight;
    padding-left: 140px;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
}


@keyframes slideRight {
    0% {
        scale: (0) ;
    }
    100% {
        scale: (1) !important;
        
    }
}

.text-right {
    padding-left: 140px;
    transform: scale(0);
}

/*.text-right-SlideOut {
    animation-name: slideOutRight;
    padding-left: 140px;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
}


@keyframes slideOutRight {
    0% {
        scale: (1) ;
    }
    100% {
        scale: (0) !important;
        
    }
}*/


/*.text-right-Slide {
    transform: scale(1) !important;
    animation: backInLeft 4000ms !important;
}*/


.button-box {
    display: flex;
    justify-content: space-between;

    div {
        &:hover {
            button {
                font-weight: bold;
                border: 4px solid #000000;
                filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.15));
            }
        }
    }
}


.content-right {
    width: 50%;
}


.content-left {
    width: 50%;
}





@media only screen and (max-width: 500px) {
    .border-right {

        img {
            width: 30px;
            height: 30px;
        }
    }

    .project-right {
        margin-top: 110px !important;
        height: 400px !important;
    }

    .project-right button {
        margin-right: 20px;
    }

    .button-box {

        justify-content: unset;

        button {
            padding: 5px 13px;
            margin-top: 5px;
            font-size: 17px;
        }
    }
}


@media only screen and (max-width: 1050px) {
    .project-right button {
        margin-right: 20px;
    }

    .button-box {
        justify-content: unset;

        button {
            padding: 7px 23px;
        }
    }

    .project-right {
        justify-content: space-between;
        align-items: center;
        margin-top: 190px;
        margin-bottom: 30px;
        flex-direction: column;
        height: 465px;
    }

    .text-right {
        padding-left: unset;
        margin-top: 60px;
    }

    .number-right {
        display: none;
        bottom: 180px;
        padding-left: 140px;
        position: relative;
    }

    .content-right {
        width: 100%;
    }

    .img-box-right {
        width: 100% !important;
    }
}