<div id="contact" class="contact">
    <h2>Say Hi!</h2>

    <div class="content">
        <h3>Want do discuss a new project</h3>
        <p>Say hello! let's discuss your ideas and make it happen</p>
        <input type="text" placeholder="Your name">
        <input type="email" placeholder="Your email">




        <!-- <textarea id="message" cols="30" rows="10" placeholder="Your message"></textarea> 
        <textarea _ngcontent-nlv-c13="" type="text" id="message" autocomplete="off" formcontrolname="message" required="" 
         class="ng-pristine ng-invalid ng-touched"></textarea>-->
        <div>
            <button>Send message</button>
        </div>
    </div>

    <div class="footer">
        <div class="left">
            <a href="#start-screen">
                <img src="assets/img/logo.png">
            </a>
            <p>Frederik Tissen 2023</p>
        </div>
        <div class="right">
            <a href="#start-screen">
                <img class="arrow-top animate__animated animate__fadeOutUp animate__infinite"
                    src="assets/img/arrow-top.png">
            </a>
            <div>
                <a href="https://github.com/FrederikTissen?tab=repositories" target="_blank">
                    <img src="assets/img/github-button.png">
                </a>
                <a href="#contact">
                    <img src="assets/img/email-button.png">
                </a>
                <a href="">
                    <img src="assets/img/linkedin-button.png">
                </a>
            </div>
            <p (click)="openLegalNotice()">Legal notice</p>
        </div>
    </div>





</div>