.contact {
    width: 100vw;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: #FFFCF3;

    h2 {
        font-family: 'Syne';
        font-style: normal;
        font-weight: 800;
        font-size: 78px;
        width: 70%;
        margin-bottom: 40px;
        padding-top: 60px;
    }
}


.content {
    display: contents;

    h3 {
        font-family: 'Overpass';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        color: #5988FF;
        margin: 0;
    }

    p {
        font-family: 'Overpass';
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        margin-top: 10px;
    }

    input {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 25px;
        padding-right: 25px;
        margin-top: 30px;
        border: unset;
        width: 617px;
        height: 50px;
        background-color: black;
        border-bottom: 3px solid #FFFCF3;
        border-top: 3px solid black;
        border-left: 3px solid black;
        border-right: 3px solid black;

        &:hover {
            border: 3px solid #FFFCF3;
        }

        &:focus {
            border: 3px solid #FFFCF3;
            outline: none;

            label {
                position: relative;
                top: 70px;
            }
        }

    }

    input,
    select,
    textarea {
        color: #FFFCF3;
    }


    textarea {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 15px 25px;
        width: 617px;
        height: 202px;
        background: #000000;
        margin-top: 30px;
        border-bottom: 3px solid #FFFCF3;
        border-top: 3px solid black;
        border-left: 3px solid black;
        border-right: 3px solid black;

        &:hover {
            border: 3px solid #FFFCF3;
        }

        &:focus {
            border: 3px solid #FFFCF3;
            outline: none;
        }

    }

    button {
        color: #FFFCF3;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 269px;
        height: 68px;
        border: 4px solid #FFFCF3;
        background: #000000;
        font-family: 'Overpass';
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        margin-top: 30px;

    }


}

.send-btn {
    cursor: pointer;
    display: flex;
    justify-content: center;

    &:hover {
        button {
            animation: flipInY 1500ms;
            font-weight: bold;
        }
    }
}

::placeholder {
    color: #FFFCF3;

}

.footer {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;

    p {
        margin: 0;
    }

    img {
        width: 60px;
        height: 60px;
        border-radius: 100%;
        cursor: pointer;
    }
}

.right {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;

    div {
        display: flex;
        justify-content: space-between;
        width: 200px;
        cursor: pointer;

        img {
            &:hover {
                animation: wobble 1000ms;
            }
        }
    }

    p {
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
    }


}

.hidden {
    visibility: hidden;
}


.visable {
    visibility: visible;
}

.arrow-top {
    display: flex;
    padding-bottom: 40px;
    width: 40px;
    cursor: pointer;
}

.animate__animated.animate__fadeOutUp {
    --animate-duration: 2s;
}

input.ng-dirty.ng-invalid {
    color: red
}

.input-field {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    label {
        position: relative;
        top: 70px;
        left: 25px;
        background-color: black;
        padding-left: 10px;
        padding-right: 10px;
        pointer-events: none;
        transition: 500ms;
    }
}

.focused-input {
    label {
        top: 40px;
        bottom: 80px;
    }
}