.contact {
    width: 100vw;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: #FFFCF3;

    h2 {
        font-family: 'Syne';
        font-style: normal;
        font-weight: 800;
        font-size: 78px;
        width: 70%;
        margin-bottom: 40px;
    }
}


.content {
    display: contents;

    h3 {
        font-family: 'Overpass';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        color: #5988FF;
        margin: 0;
    }

    p {
        font-family: 'Overpass';
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        margin-top: 10px;
    }

    input {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 25px;
        padding-right: 25px;
        margin-top: 30px;
        border: unset;
        width: 617px;
        height: 50px;
        background-color: black;
        border-bottom: 2px solid #FFFCF3;
    }

    textarea {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 15px 25px;
        isolation: isolate;
        width: 617px;
        height: 202px;
        background: #000000;
        border-bottom: 2px solid #FFFCF3;
        border-left: unset;
        border-top: unset;
        border-right: unset;
        margin-top: 30px;

    }

    button {
        color: #FFFCF3;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 269px;
        height: 68px;
        border: 4px solid #FFFCF3;
        background: #000000;
        font-family: 'Overpass';
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        margin-top: 30px;

    }
}

::placeholder {
    color: #FFFCF3;

}

.footer {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.left {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;

    p {
        margin: 0;
    }
}

.right {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    div {
        display: flex;
        justify-content: space-between;
        width: 200px;
    }

    p {
        display: flex;
        justify-content: flex-end;
    }


}

.arrow-top {
    display: flex;
    justify-content: flex-start !important;
}