<div id="contact" class="contact">
    <h2>Say Hi!</h2>

    <div class="content">
        <h3>Want do discuss a new project</h3>
        <p>Say hello! let's discuss your ideas and make it happen</p>

        <form type="reset"  (submit)="sendMail()" ngNativeValidate #myForm >
            <div class="input-field">
                <label for="inputLabelName">Your name</label>
                <input #nameField (keyup)="resetLabelName()" for="inputName" (focus)="moveLabelName()" (blur)="resetLabelName()"
                    type="text" id="inputLabelName" name="name" formcontrolname="name" required="" class="">
                <div>
                    <span for="nameWarningSpan" class="">Your name is required</span>
                    <img for="nameWarningImg" src="assets/img/warning.png" class="">
                    <img for="nameSuccess" src="assets/img/success.png" class="hidden">
                </div>
            </div>

            <div class="input-field">
                <label for="inputLabelEmail">Your email</label>
                <input #emailField id="inputLabelEmail" for="inputEmail" (keyup)="resetLabelEmail()" (focus)="moveLabelEmail()"
                    (blur)="resetLabelEmail()" type="email"  formcontrolname="email" required="" class="">
                <div>
                    <span for="emailWarningSpan" class="">Your email is required</span>
                    <img for="emailWarningImg" src="assets/img/warning.png" class="">
                    <img for="emailSuccess" src="assets/img/success.png" class="hidden">
                </div>
            </div>


            <div class="textarea-field" >
                <label for="inputLabelMessage">Your message</label>
                <textarea id="inputLabelMessage" #messageField  for="inputMessage" (keyup)="resetLabelMessage()" (focus)="moveLabelMessage()"
                    (blur)="resetLabelMessage()" required="" name="message" type="text">
                </textarea>
                <div>
                    <span for="messageWarningSpan" class="">Your message is empty</span>
                    <img  for="messageWarningImg" src="assets/img/warning.png" class="">
                    <img  for="messageSuccess" src="assets/img/success.png" class="hidden">
                </div>

                <div class="send-btn">
                    <button type="submit" #sendButton>Send message</button>
                </div>
            </div>
        </form>
    </div>



    <div class="footer">
        <div class="left">
            <a href="#start-screen">
                <img src="assets/img/logo.png">
            </a>
            <p>Frederik Tissen 2023</p>
        </div>
        <div class="right">
            <a href="#start-screen">
                <img class="arrow-top animate__animated animate__fadeOutUp animate__infinite"
                    src="assets/img/arrow-top.png">
            </a>
            <div>
                <a href="https://github.com/FrederikTissen?tab=repositories" target="_blank">
                    <img src="assets/img/github-button.png">
                </a>
                <a href="#contact">
                    <img src="assets/img/email-button.png">
                </a>
                <a href="">
                    <img src="assets/img/linkedin-button.png">
                </a>
            </div>
            <p (click)="openLegalNotice()">Legal notice</p>
        </div>
    </div>

    <div *ngIf="successEmail" class="sendSuccessfuly-background">
        <div class="sendSuccessfuly">
            <p>Thank you!</p>
            <span>Your message has been successfully sent. <br> I will contact you very soon!</span>
        </div>
    </div>



</div>