<div class="contact">
    <h2>Say Hi!</h2>

    <div class="content">
        <h3>Want do discuss a new project</h3>
        <p>Say hello! let's discuss your ideas and make it happen</p>
        <input type="text" placeholder="Your name">
        <input type="email" placeholder="Your email">
        <textarea name="message" id="message" cols="30" rows="10" placeholder="Your message"></textarea>
        <button>Send message</button>
    </div>

    <div class="footer">
        <div class="left">
            <img src="assets/img/logo-white.png">
            <p>Frederik Tissen 2023</p>
        </div>
        <div class="right">
            <img class="arrow-top" src="assets/img/arrow-top.png">
            <div>
                <img src="assets/img/github-button.png">
                <img src="assets/img/email-button.png">
                <img src="assets/img/linkedin-button.png">
            </div>
            <p>Legal notice</p>
        </div>
    </div>





</div>