.menu {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    position: fixed;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 500;
    background-color: #FFFCF3;

}

.header-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #FFFCF3;
    z-index: 99;

    div {
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.logo {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    border: 3px solid black;
}

.header-box {
    margin-bottom: 125px;
    display: flex;
    flex-direction: column;

    a {
        font-family: 'Syne';
        font-weight: 400;
        font-size: 70px;
        margin-top: 0;
        margin-bottom: 60px;
        letter-spacing: -0.025em;
        text-align: center;
        position: relative;
        color: black;
        cursor: pointer;
        text-decoration-line: unset;
    }
}

.footer-box {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
    position: absolute;
    bottom: 0;
}


.footer {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 40px;

}

.left {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;

    a {
        margin: 0;
        color: #FFFCF3;
        text-decoration: none;
    }

    h2 {
        font-family: "Syne";
        font-style: normal;
        font-weight: 800;
        font-size: 78px;
        margin-bottom: 0px;

        color: #FFFCF3;

    }


}

.right {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;

    div {
        display: flex;
        justify-content: space-between;
        width: 200px;
        cursor: pointer;

        img {
            &:hover {
                animation: wobble 1000ms;
            }
        }
    }

}





.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.burger-menu {
    cursor: pointer;

    &:hover {
        animation: rubberBand 1500ms;
    }
}