<div id="portfolio" class="portfolio">
    <h2>Portfolio</h2>
    <p class="sub-header">Feel free to try out my latest development projects and look into their code...<wbr></p>

    <app-project-right [project]="projectData.projects[0]" class="project"></app-project-right>
    <app-project-left [project]="projectData.projects[1]" class="project"></app-project-left>
    <app-project-right [project]="projectData.projects[2]" class="project"></app-project-right>
    <app-project-left [project]="projectData.projects[3]" class="project"></app-project-left>
    <app-project-right [project]="projectData.projects[4]" class="project"></app-project-right>
    <app-project-left [project]="projectData.projects[5]" class="project"></app-project-left>


    <div class="arrow-section">
        <img id="arrow-portfolio" class="arrow-left animate__animated animate__pulse animate__infinite"
            src="assets/img/arrow-left.png" alt="">
    </div>


    <div class="black-slide"></div>
</div>