.portfolio {
    width: 100vw;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    

    h2 {
        width: 70%;
        font-family: 'Syne';
        font-style: normal;
        font-weight: 800;
        font-size: clamp(32px, 7vw, 70px);
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
        margin-top: 40px;
    }

    p {
        font-family: "Overpass";
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        width: 80%;
        text-align: center;
    }
}

.text-right {
    transform: scale(1);
    animation: backInLeft 1200ms;
}


.black-slide {
    background-color: #FFFCF3;
    position: relative;
    top: 95px;
    transform: skew(0deg, 5deg);
    height: 170px;
    width: 100%;
    margin-top: -81px;
}


.project {
    display: flex;
    width: 100%;
    justify-content: center;
}


.arrow-section {
    width: 70%;
    display: flex;
    justify-content: flex-end;
}




@media only screen and (max-width: 850px) {
    .arrow-left {
        width: 170px;
        height: 170px;
    }
}


@media only screen and (max-width: 950px) {
    .portfolio h2 {
        width: 80%;
    }
}