<div class="portfolio">
    <h2>Portfolio</h2>
    <p class="sub-header">Feel free to try out my latest development projects and look into their code...</p>

    <div class="project-right">
        <div class="img-box-right">
            <div>
                <div class="border-right">
                    <img class="arrow-project-right" src="assets/img/arrow-animation/arrow-down1.png" alt="">
                </div>
                <img src="assets/img/projects-dummy/join-img.png" alt="">
            </div>
        </div>

        <div class="content-right">
            <p class="number-right">01/06</p>
            <div class="text-right">
                <h3>Join</h3>
                <span>Angular | TypeScript | HTML | CSS | Firebase</span>
                <p>Taskmanager inspired by the Kanban System. Create and organize tasks usingdrag and drop functions,
                    assign users and categories.</p>
                <div class="button-box">
                    <div>
                        <a href="https://frederik-tissen.developerakademie.net/JOIN/Join/index.html" target="_blank">
                            <button>Test</button> 
                        </a>
                    </div>
                    <div>
                        <a href="https://github.com/FrederikTissen/Join" target="_blank">
                            <button>Github</button> 
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="project-left">
        <div class="content-left">
            <p class="number-left">02/06</p>
            <div class="text-left">
                <h3>EL Pollo Loco</h3>
                <span>JavaScript | HTML | CSS</span>
                <p>A simple Jump-and-Run game based on an object-oriented approach. Help Pepe find coins and throw
                    bottles to figth against the enboss chicken.</p>
                <div class="button-box">
                    <div>
                        <a href="https://f014ec52@frederik-tissen.developerakademie.net/EL_POLLO_LOCO/index.html" target="_blank">
                            <button>Test</button> 
                        </a>
                    </div>
                    <div>
                        <a href="https://github.com/FrederikTissen/EL_POLLO_LOCO" target="_blank">
                            <button>Github</button> 
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="img-box-left">
            <div>
                <img src="assets/img/projects-dummy/epl-img.png" alt="">
                <div class="border-left">
                    <img class="arrow-project-left" src="assets/img/arrow-animation/arrow-down1.png" alt="">
                </div>
            </div>
        </div>
    </div>


    <div class="project-right">
        <div class="img-box-right">
            <div>
                <div class="border-right">
                    <img class="arrow-project-right" src="assets/img/arrow-animation/arrow-down1.png" alt="">
                </div>
                <img src="assets/img/projects-dummy/crm.png" alt="">
            </div>
        </div>
        <div class="content-right">
            <p class="number-right">03/06</p>
            <div class="text-right">
                <h3>Simple CRM</h3>
                <span>Angular | Firebase</span>
                <p>A very simple Customer Relationship Management system working width CRUD functionality.</p>
                <div class="button-box">
                    <div>
                        <a href="https://github.com/FrederikTissen?tab=repositories" target="_blank">
                            <button>Test</button> 
                        </a>
                    </div>
                    <div>
                        <a href="https://github.com/FrederikTissen?tab=repositories" target="_blank">
                            <button>Github</button> 
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="project-left">
        <div class="content-left">
            <p class="number-left">04/06</p>
            <div class="text-left">
                <h3>Pokedex</h3>
                <span>JavaScript | HTML | CSS | Api</span>
                <p>Based on the PokeAPI a simple library that provides and catalogues pokemon information.</p>
                <div class="button-box">
                    <div>
                        <a href="https://f014ec52@frederik-tissen.developerakademie.net/Pokedex/index.html" target="_blank">
                            <button>Test</button> 
                        </a>
                    </div>
                    <div>
                        <a href="https://github.com/FrederikTissen/Pokedex" target="_blank">
                            <button>Github</button> 
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="img-box-left">
            <div>
                <img src="assets/img/projects-dummy/pokedex-img.png" alt="">
                <div class="border-left">
                    <img class="arrow-project-left" src="assets/img/arrow-animation/arrow-down1.png" alt="">
                </div>
            </div>
        </div>
    </div>



    <div class="project-right">
        <div class="img-box-right">
            <div>
                <div class="border-right">
                    <img class="arrow-project-right" src="assets/img/arrow-animation/arrow-down1.png" alt="">
                </div>
                <img src="assets/img/projects-dummy/crypto-converter.png" alt="">
            </div>
        </div>

        <div class="content-right">
            <p class="number-right">05/06</p>
            <div class="text-right">
                <h3>Crypto Converter</h3>
                <span>Angular | TypeScript | HTML | CSS | RestAPI</span>
                <p>Simple currency converter based on a public API diplaying exchange rate charts.</p>
                <div class="button-box">
                    <div>
                        <a href="https://github.com/FrederikTissen?tab=repositories" target="_blank">
                            <button>Test</button> 
                        </a>
                    </div>
                    <div>
                        <a href="https://github.com/FrederikTissen?tab=repositories" target="_blank">
                            <button>Github</button> 
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="project-left">
        <div class="content-left">
            <p class="number-left">06/06</p>
            <div class="text-left">
                <h3>Ring of Fire</h3>
                <span>Angular | Firebase</span>
                <p>Ring Of Fire is an interactive drinking game app built using Angular, Firebase, and Material Design. It provides a fun way to play with friends and family while enjoying a few drinks at the same time. </p>
                <div class="button-box">
                    <div>
                        <a href="https://frederik-tissen.developerakademie.net/ringoffire/" target="_blank">
                            <button>Test</button> 
                        </a>
                    </div>
                    <div>
                        <a href="https://github.com/FrederikTissen/RingOfFire" target="_blank">
                            <button>Github</button> 
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="img-box-left">
            <div>
                <img src="assets/img/projects-dummy/RingOfFire.jpg" alt="">
                <div class="border-left">
                    <img class="arrow-project-left" src="assets/img/arrow-animation/arrow-down1.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <img id="arrow-portfolio" class="arrow-left animate__animated animate__pulse animate__infinite"
        src="assets/img/arrow-left.png" alt="">

</div>