.portfolio {
    width: 100vw;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        width: 70%;
        font-family: 'Syne';
        font-style: normal;
        font-weight: 800;
        font-size: 78px;
        display: flex;
        justify-content: center;
        margin-bottom: 0;
        margin-top: 130px;
    }
}

.number-right {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    font-family: 'Overpass' !important;
    font-style: normal;
    font-weight: 700;
    font-size: 48px !important; 
}

.number-left {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    font-family: 'Overpass' !important;
    font-style: normal;
    font-weight: 700;
    font-size: 48px !important; 
}

.sub-header {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    width: 526px;
}

.project-right {
    width: 70%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;

    img {
        width: 50%;
        object-fit: contain;
    }

    h3 {
        font-family: 'Syne';
        font-style: normal;
        font-weight: 800;
        font-size: 45px;
        margin-bottom: 15px;
        margin-top: 15px;
    }

    span {
        font-family: 'Overpass';
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        color: #5988FF;
    }

    p {
        font-family: 'Overpass';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
    }

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 60px;
        gap: 10px;
        border: 4px solid #000000;
        box-sizing: border-box;
        background-color: #FFFCF3;
        margin-top: 30px;
        font-family: 'Overpass';
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
    }
}

.content-right {
    padding-left: 140px;
}











.project-left {
    width: 70%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;

    img {
        width: 50%;
        object-fit: contain;
    }

    h3 {
        font-family: 'Syne';
        font-style: normal;
        font-weight: 800;
        font-size: 45px;
        margin-bottom: 15px;
        margin-top: 15px;
    }

    span {
        font-family: 'Overpass';
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        color: #5988FF;
    }

    p {
        font-family: 'Overpass';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
    }

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 60px;
        gap: 10px;
        border: 4px solid #000000;
        box-sizing: border-box;
        background-color: #FFFCF3;
        margin-top: 30px;
        font-family: 'Overpass';
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
    }
}

.content-left {
    padding-right: 140px;
}

.arrow-left {
    position: relative;
    left: 300px;
    margin: 50px;
}