.legal-notice-background {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 900;
    background-color: rgba(0, 0, 0, 0.2);

    div {
        padding: 40px;
        width: 70%;
        height: 80%;
        background-color: #FFFCF3;
        overflow-y: auto;
    }

    h1 {
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        font-family: 'Overpass';
        font-style: normal;
        letter-spacing: normal;
        margin: 0 0 16px;
    }

    h2 {
        font-size: 20px;
        font-weight: 500;
        line-height: 32px;
        font-family: 'Overpass';
        letter-spacing: .0125em;
        margin: 0 0 16px;
    }

    h3 {
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        font-family: 'Overpass';
        letter-spacing: .009375em;
        margin: 0 0 16px;
    }

    p {
        font-family: 'Overpass';
        text-align: justify;
    }

    ul {
        font-family: 'Overpass';
        text-align: justify;
    }
}



#style-1::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}