.my-skills {
    width: 100vw;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.arrow-section {
    width: 70%;
    display: flex;
    justify-content: flex-start;
}


.skill-box {
    display: grid;
    grid-template-columns: 17% 17% 17% 17% 17%;
    grid-template-rows: 180px 180px;
    width: 70%;
    height: 452px;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
    padding-bottom: 70px;
    border: 4px solid #000000;
}


.skill {
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;

    &:hover {
        color: #5988FF;
        transition: 0.1s;
        img {
            animation: wobble 1000ms;
        }
    }
        
    p {
        font-family: 'Overpass';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        margin-top: 5px;
        margin-bottom: unset;
        text-align: center;
    }
}


.header {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 800;
    font-size: clamp(32px, 7vw, 70px);
    background-color: #FFFCF3;
    position: relative;
    top: 45px;
    padding-left: 30px;
    padding-right: 30px;

    &:hover {
        color: #5988FF;
        transition: 0.2s;
    }
}


.arrow-right {
    position: relative;
}


@media only screen and (max-width: 470px) {
    .skill-box {
        grid-template-columns: 25% 25% 25% !important;
        padding-top: 32px !important;
    }

    .skill {
        img {
            width: 30px !important;
            height: 30px !important;
        }

        p {
            font-size: 11px;
        }
    }
}


@media only screen and (max-width: 700px) {
    .skill-box {
        grid-template-columns: 23% 23% 23% 23%;
        height: 347px !important;
    }

    .header {
        top: 20px !important;
        padding-left: 3px;
        padding-right: 3px;
    }
}


@media only screen and (max-width: 850px) {
    .header {
        top: 30px;
    }

    .skill-box {
        height: 200px;
        padding-top: 52px;
        padding-bottom: 20px;
    }

    .arrow-right {
        width: 170px;
        height: 170px;
    }
}


@media only screen and (max-width: 950px) {
    .about-me h2 {
        width: 80%;
    }

    .content {
        width: 80%;
    }

    .arrow-section {
        width: 80%;
    }
}


@media only screen and (max-width: 1150px) {
    .skill-box {
        grid-template-rows: unset;
        width: 80%;
    }

    .skill {
        img {
            width: 50px;
            height: 50px;
        }
    }
}