.my-skills {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-box {
    display: grid;
    grid-template-columns: 17% 17% 17% 17% 17%;
    grid-template-rows: 180px 180px;
    width: 70%;
    height: 452px;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
    padding-bottom: 70px;
    border: 4px solid #000000;
}

.skill {
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;

    &:hover {
        color: #5988FF;
        transition: 0.2s;
        img {
            animation: wobble 1000ms;
        }
    }
        
    



    p {
        font-family: 'Overpass';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        margin-top: 5px;
        margin-bottom: unset;
        text-align: center;
    }
}

.header {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 800;
    font-size: 78px;
    background-color: #FFFCF3;
    position: relative;
    top: 45px;
    padding-left: 30px;
    padding-right: 30px;

    &:hover {
        color: #5988FF;
        transition: 0.2s;
    }
}


.arrow-right {
    position: relative;
    right: 300px;
    margin: 50px;
}