<div id="start-screen" class="start-screen">
    <div class="header-menu">
        <div>
            <img class="logo" src="assets/img/logo.png" alt="">
            <img (click)="openMenu()" class="burger-menu" src="assets/img/burger-menu.png" alt="">
        </div>
    </div>
    <div class="header-box">
        <div class="header">Frontend</div>
        <div class="header">Developer</div>
        <div class="sub-header">
            <div class="sub-header-line"></div>
            <h2>Frederik Tissen</h2>
        </div>
    </div>
    <div class="footer">
        <a href="#contact">frederiktissen@web.de</a>
        <div class="scroll">
            <div class="arrow-down-div">
                <img class="animate__animated  animate__fadeOutDown animate__infinite" src="assets/img/arrow-down.png" alt="">
            </div>
            <span id="about-me">Scroll</span>
            <span>Down</span>
        </div>
    </div>
</div>