<div class="start-screen">
    <div class="header-menu">
        <div>
            <img class="logo" src="assets/img/logo.png" alt="">
            <img class="burger-menu" src="assets/img/burger-menu.png" alt="">
        </div>
    </div>

    <div class="header-box">
        <div class="header">Frontend</div>
        <div class="header">Developer</div>
        <div class="sub-header">
            <div class="sub-header-line"></div>
            <h2>Frederik Tissen</h2>
        </div>
    </div>

    <div class="footer">
        <p>frederiktissen@web.de</p>
        <div class="scroll">
            <span>Scroll</span>
            <span>Down</span>
        </div>
    </div>


</div>