body {
    background-color: #FFFCF3;
    margin: 0;
  
    h2 {
      &:hover {
        color: #5988FF;
        transition: 0.2s;
    }
    }

    button {
      cursor: pointer;
    }


}

@font-face {
    font-family: 'Syne';
    src: url(assets/fonts/syne-font/Syne-Extra-BF642e31d32a227.otf) format("opentype");
  }

  @font-face {
    font-family: 'Overpass';
    src: url(assets/fonts/overpass-font/Overpass_Regular.woff) format("truetype");
  }